mixin submenu

    .submenu
        .submenu__main-container
            span.submenu__main-text Copyright © 2018 Toxin отель. Все права защищены.
            .submenu__main-icons
                ul.control 
                    li.control-item
                        icon.control-btn.control-btn__twitter
                    li.control-item
                        icon.control-btn.control-btn__facebook
                    li.control-item
                        icon.control-btn.control-btn__inst