.submenu {
    border-top: 1px solid rgba(31, 32, 65, 0.1);


    &__main-container {
		display: flex;
		max-width: 1161px;
		margin: 0 auto;
		justify-content: space-between;
		flex-flow: row wrap;
		align-items: center;
		padding: 23px 0px 20px 0px;
	}
    
    &__main-icons {
        margin-right: auto;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        display: inline-block;
    }
}
.control {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 700px;
    &-item {
        margin-left: 24px;
    }
    &-btn{
        background-color: transparent;
        border: none;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        &__twitter {
            background-image: url(../../images/twitter.svg);
            width: 24px;
            height: 24px;
        }
        &__facebook {
            background-image: url(../../images/facebook.svg);
            width: 24px;
            height: 24px;
        }
        &__inst{
            background-image: url(../../images/icons/.svg);
            width: 24px;
            height: 24px;
        }
    }
}