include ../../modules/header/header.pug 
include ../../modules/footer/footer.pug


doctype html
head 
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css")
    title landing-page

body 
    .landing-page 
        header.landing-page__header 
            +header 
        footer.landing-page__footer 
            +footer         