mixin header

    .header 
        .header__container
            .header__logo
        .nav
            ul.nav
                li.nav-item
                    a(href="").nav-link О нас
                li.nav-item
                    a(href="").nav-link Услуги
                li.nav-item
                    a(href="").nav-link Вакансии
                li.nav-item
                    a(href="").nav-link Новости
                li.nav-item
                    a(href="").nav-link Соглашения
                li.nav-item
                    a(href="").nav-link Войти
                li.nav-item
                    a(href="").nav-link Зарегистрироваться   

    