.header {
	padding: 23px 0px 20px 0px;
    
    
    &__container {
        display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		align-items: center;
        width: 75%;
		margin: 0 auto;
    }

    &__container-logo {
        background-image: url(../../images/toxin.svg);
        margin-right: auto;
        width: 106px;
        height: 40px;
        background-repeat: no-repeat;
        display: inline-block;
        object-fit: contain;
        padding-left: 60px;
    }
    
    
}
    .nav {	
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: max-content;
        list-style: none;
        

        &-item {
            font: normal normal 14px/17px Montserrat;
            color: #1F2041 50%;
            margin-right: 21px;
        }
        &-link {
            cursor: pointer;

            &__bold {
                font-weight: bold;
            }
        }

    }

    a {
        text-decoration: none;
    }
    .nav-link__arrow::after {
        background-image: url(../../images/arrow.svg);
        height: 8px;
        width: 12px;

    }
