.header {
	padding: 15px 15px 12px 0px;
    
    
    &__container {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 75%;
        // max-width: 900px;
        margin: 0 auto;
    }

    &__container-logo {
        background-image: url(../../images/toxin.svg);
        margin-right: auto;
        width: 106px;
        height: 40px;
        background-repeat: no-repeat;
        display: inline-block;
        object-fit: contain;
        padding-left: 60px;
    }
    
    
}
    .nav {	
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: max-content;
        list-style: none;

        &-item {
            font: normal normal 14px/17px Montserrat;
            color: #1F2041 50%;
            margin-left: 20px;
        }
    }

    a {
        text-decoration: none;
    }
