.footer {
	padding: 15px 15px 10px 187px;
    display: flex;
    
    
    
    

    &__main {
        position: relative;
		flex-basis: 23%;	
        width: 100%;
    } 
    &__main-quote {
        font: 14px Montserrat;
		color: #1F2041 75%;
        line-height: 24px;
    }
    &__main-logo {
        background-image: url(../../images/toxin.svg);
        margin-right: auto;
        width: 106px;
        height: 40px;
        background-repeat: no-repeat;
        display: inline-block;
        object-fit: contain;
    }
    &-list  {
        list-style: none;
        line-height: 15px;
        flex-flow: row wrap;
                
            &__item{
                margin-bottom: 20px;
            }
            &__link {
                font: 14px/24px Montserrat;
			    color: #1F2041 50%;
                margin: 16px;
            }
        &-item {
            position: relative;
            flex-basis: 23%;	
            width: 100%;
            
        }
    }
    
}
.bold {
    font-weight: bold;
    color: #1F2041;
    
}

* {
    text-decoration: none;
    list-style: none;
}
    