.footer {
    height: 50px;

    &__container {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 80%;
        max-width: 900px;
        margin: 0 auto;
    }
}
    .container-info {
        position: relative;
        flex-basis: 23%;
        padding-top: 58px;
    }

    .container-info::before {
        content: '';
        background-image: '../../images/logo.svg';
        width: 106px;
        position: absolute;
        height: 42px;
        background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		top: 0px;
		left: 0px;
    }
    .container-description {
        font: 14px;
        color: rgba(31, 32, 65, 0.75);
    }


    a {
        text-decoration: none;
    }